body {
    font-family: Consolas, serif;
    font-size: 1.0rem;
    background-color: #FFFFFF;
}

.main {
    margin: 60px 60px 60px 310px;
    font-size: 28px;
    padding: 0 10px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #293241;
    overflow-x: hidden;
    text-align: center;
    vertical-align: center;
    border-right-width: 2px;
    border-right-color: #837A6C!important;
    border-right: solid;
}

.sidenav a {
    padding: 12px 8px 12px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #FFFFFF;
    display: block;
    text-align: left;
}

.sidenav a:hover {
    color: #FFFFFF;
    background-color: #3d5a80;
}

.sidenav-header {
    background-color: #FFFFFF;
    text-align: center;
    padding: 1rem;
    color: #3d5a80;
    font-size: 1.5rem!important;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
}

h4 {
    margin-top: 0;
    color: #293241;
}

h2 {
    color: #293241;
}

.form-control {
    background-color: #EAEAEA!important;
    color: #293241!important; /* 63FFF0 */
}

.form-group {
    padding-bottom: 1rem;
}

.actividad-listar {
    font-size: 0.9rem;
    color: #FFFFFF;
    border-color: #C9D5E0!important;
}

.actividad-editar {
    background-color: #293241!important;
    border-color: #293241!important;
    color: #FFFFFF!important;
}

.actividad-editar :hover{
    background-color: #293241!important;
    border-color: #293241!important;
    color: #FFFFFF!important;
}

.actividad-listar td {
    vertical-align: middle;
}

.contenedor-actividad {
    padding: 0!important;
    max-width: inherit!important;
}

.content_box {
    background-color: #293241;
    padding: 1rem;
    text-align: left;
    vertical-align: text-top;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 1rem;
}
